<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Ocular</title>
  </head>
  <body>
    <div class="container">
      <header class="header-home">
        <div class="logo">
          <img src="/images/Vector_Smart_Object.png" alt="Logo da Guild" />
        </div>
        <nav>
          <ul>
            <li><a href="players/register">Register</a></li>
            <li><a href="players/log_in">Login</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="home">
          <h1>We Have Content. You Don't.</h1>
          <h2>Any Questions?</h2>
          <button onclick="">
            <a href="https://discord.gg/ocular" target="_blank">Join Ocular</a>
          </button>
        </div>
        <div id="carousel-background"></div>
      </main>
      <footer class="footer">
        <div>
          <h3>CMDR Light1c3</h3>
        </div>
      </footer>
    </div>
    <script>
      const images = [
      '/images/img10.jpg',
      '/images/img11.jpg',
      '/images/img13.jpg',
      '/images/img14.png'
      ];
      let currentIndex = 0;
      const carouselBackground = document.getElementById('carousel-background');
      function changeBackground() {
      carouselBackground.style.backgroundImage = `url(${images[currentIndex]})`;
      currentIndex = (currentIndex + 1) % images.length;
      }
      setInterval(changeBackground, 6500);
      changeBackground();
    </script>
  </body>
</html>
