<!DOCTYPE html>
<html lang="pet-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <title>Login</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../assets/images/Vector_Smart_Object.png" alt="Logo da Guild" />
      </div>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="tabela.html">Tabela</a></li>
          <li><a href="cadastro.html">Cadastro/Evento</a></li>
          <li><a href="login.html">Rat Login</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <div class="formulario-login">
        <form class="register-form" id="register-form">
          <input type="text" id="name-cadastro" placeholder="Name" required />
          <input type="text" id="email" placeholder="Email" required />
          <input type="password" id="password" placeholder="Password" required />
          <input type="password" id="confirm-password" placeholder="Confirm password" required />
          <textarea
            type="text"
            name="weapon"
            id="weapon"
            placeholder="Insira suas armas (no mínimo uma)"
            required
          ></textarea>
          <input type="text" id="weapon" placeholder="Weapon" required />

          <button type="submit" id="cadastrar-usuario">create</button>
          <p class="message">Já está cadastrado? <a href="login.html">Entrar</a></p>
        </form>
      </div>
    </main>

    <script src="">
    </script>
  </body>
</html>
